/*ESTILOS DE BASE*/
* {
  margin: 0;
  padding: 0; }

/*VARIABLES*/
/*ESTILOS DE CONTENIDO*/
.container {
  margin-top: 20px;
  border: #66a88d solid; }

.parrafo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  margin-top: 10px;
  text-align: center; }

body {
  background-color: black; }

.logo {
  width: 100px;
  border-radius: 12px;
  cursor: pointer; }

.card {
  background-color: #d1d0a5;
  margin-top: 5px; }

.HAMBURGUESAS, .PASTAS {
  color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-style: italic; }

.HAMBURGUESAS {
  border-radius: 12px;
  background-color: #a9e0c9;
  margin: 10px; }

.HAMBURGUESAS img {
  border-radius: 12px;
  margin: 5px;
  width: 150px;
  height: 100px; }

.PASTAS {
  border-radius: 12px;
  background-color: #a9e0c9;
  margin: 10px; }

.PASTAS img {
  border-radius: 12px;
  margin: 5px;
  width: 150px;
  height: 100px; }

/*MAP*/
.container--ancho {
  width: 150%;
  background-color: black; }

.container--largo {
  width: 80%;
  background-color: black; }

/*MAP GET*/
.titulo {
  text-align: center;
  border: 30px solid;
  color: white;
  margin-top: 20px; }

/*ESTILOS DE FOOTER*/
.footer-copyright {
  color: white; }

.btn {
  color: white; }

/*ESTILOS DE MENU*/
.PASTAS:hover {
  animation: pulsate 3s  ease-in-out; }

.HAMBURGUESAS:hover {
  animation: pulsate 3s  ease-in-out; }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #9971b4, 0 0 50px #817b85; } }
