/*VARIABLES*/
$colorPrimario: #66a88d;
$colorCard: #d1d0a5;
$colorHamburPastas: #a9e0c9;
$ancho: 150%;
$largo: 100%;
$tituloPagina: white;

/*ESTILOS DE CONTENIDO*/
.container {
    margin-top: 20px;
    border: $colorPrimario solid;
}

.parrafo {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: white;
   margin-top: 10px;
   text-align: center;
}
body {
    background-color: black;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
.logo {
    width: 100px;
    border-radius: 12px;
    cursor: pointer;
}
.card {
    background-color: $colorCard;
    margin-top: 5px;
}

.HAMBURGUESAS, .PASTAS {
    color:  rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    font-style: italic;
}
.HAMBURGUESAS {
    border-radius: 12px;
    background-color: $colorHamburPastas;
    margin: 10px;
}

.HAMBURGUESAS img {
    border-radius: 12px;
    margin: 5px;
    width: 150px;
    height: 100px;
} 

.PASTAS {
    border-radius: 12px;
    background-color: $colorHamburPastas;
    margin: 10px;
}
  
.PASTAS img {
    border-radius: 12px;
    margin: 5px;
    width: 150px;
    height: 100px;
}

 /*MAP*/
$ancho: (
    ancho: 150%,
    largo: 80%,
);

@each $medida, $porcentaje in $ancho {
    .container--#{$medida} {
        width: $porcentaje;
        background-color: black;
    }
    
}

/*MAP GET*/
$tituloPagina: (
    centro: center,
    borde: 30px solid,
    colorPrincipal: white,
    margen: 20px,
);
.titulo {
    text-align: map-get($tituloPagina, centro);
    border: map-get($tituloPagina, borde);
    color: map-get($tituloPagina, colorPrincipal);
    margin-top: map-get($tituloPagina, margen);
}